{% include 'adminheader.html'%}

<!-- banner -->
    <div class="banner-agile" >
        <ul >
            <li class="active">
                <div class="banner-w3ls-3" >
                    <br><br><br><br>
<center>
    <form method="post" enctype="multipart/form-data">
        <table class="table" style="width: 500px;color: white">
            <tr>
                <th>Send Reply</th>
                <td><input type="text" required class="form-control" name="rep"></td>
            </tr>
            <tr>
                <td><input type="submit" class="btn btn-success" name="sendreply"></td>
            </tr>
        </table>
    </form>
</center>

 </div></li></ul></div>