{%  include 'publicheader.html'%}

<!-- banner -->
    <div class="banner-agile">
        <ul >
            <li class="active">
                <div class="banner-w3ls-3" >
                    <center>
                        <br><br><br><br><br><br><br>
<center>
    <h1 style="color: white">Sign Up Student</h1>
    <form method="post">

    <form method="post">
        <table  class="table" style="width: 500px;color: white" >
            <tr>
                <th>Register Number</th>
                <td><input type="number"required class="form-control" name="number"></td>
            </tr> 
            <tr>
                <th>First Name</th>
                <td><input type="text"required class="form-control" name="fname"></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td><input type="text" required class="form-control" name="lname"></td>
            </tr>
            <tr>
                <th>Place</th>
                <td><input type="text" required class="form-control"name="place"></td>
            </tr>
            <tr>
                <th>Phone No</th>

                <td><input type="text" pattern="^[7-9][0-9]{8}$"required class="form-control" name="pho"></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><input type="email" required class="form-control" name="email"></td>
            </tr>
            <tr>
                <th>username</th>
                <td><input type="text" required class="form-control" name="uname"></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="password"required class="form-control" name="pwd"></td>
            </tr>
            <tr>
                <td align="center" colspan="2"><input type="submit"  class="btn btn-success"   name="student"></td>
            </tr>
          
        </table>
    </form>

</center>


                </div>
            </li>
            
        </ul>
        
        <div class="banner-text-posi-w3ls">
            
        </div>
        </div>


             {% include 'footer.html'%}